/* Activate CSS rule below to check all containers */
.topNav div, .intro, .intro h1, .intro img, .aboutMe, .aboutMe img, .aboutMeText, .projects {
  border: 2px black solid;
}

.topNav a {
  color: #DDA455;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
}

.topNav a:hover {
  color: rgb(67, 67, 67);
  font-style: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
  font-weight: bold;
}

.intro h1 {
  padding: 50px;
  margin: 10px;
}

@media all and (min-width: 701px) {
  .intro img {
    max-width: 80%;
    margin: 25px;
  }
  .aboutMe {
    margin: 25px;
    overflow: auto;
  }
  .aboutMe img {
    max-width: 40%;
    margin: 25px;
    border-radius: 5%;
    float: left;
  }
  .aboutMeText {
    padding: 100px 25px 25px 25px;
  }
}

@media all and (max-width: 700px) {
  .intro img {
    max-width: 100%;
    margin: 10px;
  }
  .aboutMe {
    margin: 10px;
    overflow: auto;
  }
  .aboutMe img {
    max-width: 90%;
    margin: 10px;
    border-radius: 5%;
    float: center;
  }
  .aboutMeText {
    padding: 10px;
  }
}