/* Activate CSS rule below to check all containers */
/* .topNav, .intro, .introPic {
  border: 2px black solid;
} */

a {
  color: #DDA455;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
}

a:hover {
  color: rgb(67, 67, 67);
  font-style: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16pt;
  font-weight: bold;
}

.intro {
  padding: 50px;
  margin: 10px;
}

@media all and (min-width: 1000px) {
  .introPic {
    max-width: 80%;
    margin: 25px;
  }
}

@media all and (max-width: 700px) {
  .introPic {
    max-width: 100%;
    margin: 10px;
  }
}